* { 
  margin: 0%;
  padding: 0%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}

html,
body { 
  height: 100%;
  width: 100%;
}
body { 
  background-color: black;
}


.parent{ 
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card { 
  width: 300px;
  border: 2px solid #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;
}

.card img { 
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 50%;
} 

.card p { 
  margin : 20px 0px;
}

.card button { 
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
}