* { 
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: black;
  color:aliceblue;
  
}
html, 
body {
  height: 100%;
  width: 100%;
}
.card { 
  background-color: blueviolet;
  color: white;
  padding: 20px;
  margin: 20px;
}
.nav{
  background-color: darkcyan;
  padding: 10px;
  margin-bottom: 20px;
}