* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body{
  height: 100%;
  width: 100%;
  background-color: rgb(55, 53, 53);
}

input,button { 
  padding: 10px 20px;
  margin: 10px;
  font-size: 15px;
  border-radius: 5px;
}